body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

#time {
  font-family: "Orbitron", sans-serif;
  color: rgb(6, 248, 6);
  font-size: 130px;
}

.wrap {
  padding: 30px;
  text-align: center;
}

.alarm-body input {
  border: 2px solid rgb(6, 248, 6);
}

#stop {
  margin: 10px;
}

.hide {
  display: none;
}
